*{
    text-decoration: none !important;

}

.body-home{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63, 110, 251, 0.764) 0%, rgb(30, 30, 28) 50%);
}


.post_p{
    color:white;
    display: flex;
    justify-content: center; 
    font-family: 'Mukta', sans-serif;
}

.h1_posts{
    padding: 1%;
    font-family: 'Nabla', cursive;
    display: flex;
    justify-content: center; 
    font-size: 10vh;
   
}

.container_h1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 0, 0.257)),
    url('./images/66.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    margin: 0;
    padding-bottom: -4%;
}

.post{
    border: 1.5px solid rgba(125, 125, 125, 0.24) ; 
    margin:2%;
    margin-bottom: 2%;
}

.card{
    margin: 1%;
    background-color: rgba(128, 128, 128, 0.311) !important;
}

.card:hover{
    background-color: rgba(240, 248, 255, 0.202) !important;
    
}

.card{
    margin-left: 2%;
    margin-right: 2%;

 

}



.post_p:active{
    transform:scaleX(1.1);
    transition: 1s;
}


.date{
    color:rgba(212, 234, 253, 0.515)!important
}

.p_footer{
    color: white!important
}

.footer{
    display: flex !important;
    justify-content: flex-end !important;
   
}

    /*----------- animation h1 ----------- */


  .letra_p {
    animation-name: letra_p;
    animation-duration: 2s;
  }
  @keyframes letra_p {
    10% {transform: scaleX(1);}
    50% {transform: scaleY(1.5);}

  } 

  .letra_o {
    animation-name: letra_o;
    animation-duration: 2s;
  }

  @keyframes letra_o {
    10% {transform: scaleX(1);}
    50% {transform: scaleY(1.5);}
  }  
  
  .letra_s {
    animation-name: letra_s;
    animation-duration: 2s;
  }

  @keyframes letra_s {
    10% {transform: scaleX(1);}
    50% {transform: scaleY(1.5);}
  }  

  .letra_t {
    animation-name: letra_t;
    animation-duration: 2s;
  }

  @keyframes letra_t {
    10% {transform: scaleX(1);}
    50% {transform: scaleY(1.5)} 
  }

  .letra_s2 {
    animation-name: letra_s2;
    animation-duration: 2s
}

  @keyframes letra_s2 {
    10% {transform: scaleX(1);}
    50% {transform: scaleY(1.5)} 
  }  

    /* end animation h1 */

  /* post detail */

.body_detail{
    background-color: rgba(175, 170, 170, 0.485);
}
/* end post detail */